# ignore all folders that are caches from the .Rmd
*_cache/
*_files/
*_cache_*/

Figures Tables Media/Media/F4_bottom.png
Figures Tables Media/Media/F4_bottom_with_title.png
Figures Tables Media/Media/F4_small.png
Code/.Rhistory
